@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lora);
body {
  font-family: "Lora", serif;
  font-size: 14px;
  margin: 0;
  margin-top: 0;
  min-height: 100%; }

.header {
  height: 60px;
  text-align: center;
  -webkit-box-shadow: 0px 2px 4px #d8d8d8;
  -moz-box-shadow: 0px 2px 4px #d8d8d8;
  box-shadow: 0px 2px 4px #d8d8d8; }
  .header .title {
    height: 100%;
    font-family: "Sacramento", cursive;
    font-size: 45px; }

.main {
  clear: both; }
  .main .grp-question {
    margin-top: 30px;
    width: 100%; }
    @media screen and (min-width: 760px) {
      .main .grp-question {
        width: 48%;
        float: left; } }
    .main .grp-question .circle {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      background-color: #2ec6e2;
      border: 1px solid #2ec6e2;
      text-align: center;
      font-family: "Sacramento", cursive;
      font-size: 45px;
      position: relative;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%; }
      @media screen and (min-width: 760px) {
        .main .grp-question .circle {
          width: 300px;
          height: 300px;
          font-size: 60px; } }
      .main .grp-question .circle .day {
        margin: 30% auto; }
    .main .grp-question .question h3 {
      width: 80%;
      margin: 20px auto;
      font-family: "Lora", serif;
      text-align: center; }
    .main .grp-question .form-error {
      width: 80%;
      margin: 0 auto;
      padding: 5px;
      background-color: #d8d8d8;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .main .grp-question .form {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 30px; }
      .main .grp-question .form textarea {
        width: 100%;
        padding: 5px;
        margin: 10px 0;
        border: 1px solid #2ec6e2;
        font-family: "Lora", serif;
        font-size: 14px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
      .main .grp-question .form .btn-add-answer {
        background-color: #2ec6e2;
        border: none;
        padding: 5px 10px;
        font-family: "Lora", serif;
        font-size: 14px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
  .main .ctn-answers-search {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll; }
    @media screen and (min-width: 760px) {
      .main .ctn-answers-search {
        width: 48%;
        margin-right: 20px;
        float: right; } }
    .main .ctn-answers-search .searchOption {
      width: 100%;
      margin: 10px auto; }
      .main .ctn-answers-search .searchOption input {
        margin: 10px; }
      .main .ctn-answers-search .searchOption input[name="search"], .main .ctn-answers-search .searchOption select {
        padding: 5px;
        margin: 10px;
        border: 1px solid #2ec6e2;
        font-family: "Lora", serif;
        font-size: 14px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px; }
    .main .ctn-answers-search .ctn-answers .group {
      width: 100%;
      margin: 10px auto;
      border-top: 1px solid #a0dde8; }
      .main .ctn-answers-search .ctn-answers .group .date {
        margin: 0 10px 10px 10px;
        margin-bottom: 10px;
        padding: 0 5px;
        float: right;
        width: 90px;
        background-color: #a0dde8;
        font-weight: bold;
        text-align: center;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-bottom-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
        -moz-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px; }
      .main .ctn-answers-search .ctn-answers .group .answer {
        padding: 10px 10px;
        line-height: 1.8em;
        height: 250px;
        overflow-y: hidden; }
        @media screen and (min-width: 760px) {
          .main .ctn-answers-search .ctn-answers .group .answer {
            height: 120px; } }
      .main .ctn-answers-search .ctn-answers .group .clearfix {
        clear: both; }

/*# sourceMappingURL=styles.css.map */
