$black: #000;
$white: #fff;
$brightteal: #2ec6e2;
$lightteal: #a0dde8;
$lightog: #daf9ff;
$lightgray: #d8d8d8;
$errorgray: #d9e5e9;
$backgroundcolor: #f4e2ca;
$margin: 10px;
$padding: 5px;
$font-family-decorative: 'Sacramento', cursive;
$font-size-decorative: 45px;
$font-break-size-decorative: 60px;
//$font-family: 'Raleway', sans-serif;
$font-family: 'Lora', serif;
$font-size: 14px;


$break-size: 760px;	

@import url(http://fonts.googleapis.com/css?family=Sacramento);
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Lora);

body {
	position: relative;
	font-family: $font-family;
	font-size: $font-size;
	margin: 0;
	margin-top: 0;
	min-height: 100%;
}

.menu-list {
	position: absolute;
	top: 60px;
	right: 0px;
	z-index: 999;
	width: 100%;

	background-color: $lightteal;
	padding: 0px;

	@media screen and (min-width: $break-size) {
		width: 250px;
	}

	ul {
		width: 100%;
		list-style-type: none;
		line-height: 40px;
		text-align: center;
		margin: 0px;
		padding: 0px;
	}

	li {
		padding-left: $padding*2;
		text-align: center;
		color: $white;
		border-bottom: 1px solid rgba(255,255,255,0.4);
		
		a {
			text-decoration: none;
		}
	}

	li:hover {
		width: 100%;
		padding-left: $padding*2;
		background-color: $brightteal;
		color: $white;
		font-weight: bold;
	}

}


.header {

	height: 60px;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 0px 2px 4px $lightgray;
	-moz-box-shadow: 0px 2px 4px $lightgray;
	box-shadow: 0px 2px 4px $lightgray;

	.title {
		height: 100%;
		font-family: $font-family-decorative;
		font-size: $font-size-decorative;
	}

	a {
		text-decoration: none;
		color: $black;
	}

	a:hover {
		color: $brightteal;
	}
}

// .menu {
// 	display: inline-block;
// 	position: absolute;
// 	left: 90%;
	
	// @media screen and (min-width: $break-size) {
	// 	left: 95%;
	// }

.glyphicon-menu-hamburger {
	position: absolute;
	display: inline-block;
	right: 2%;
	top: 15px;
	font-size: 30px;
}

.glyphicon:hover {
	color: $lightteal;
}
// }

.pagenotfound {
	margin: $margin*4 auto;
	width: 200px;
	height: 200px;
	background-color: $brightteal;
	border: 1px solid $brightteal;
	text-align: center;
	font-family: $font-family;
	font-size: $font-size;
	position: relative;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
			
	@media screen and (min-width: $break-size) {
		width: 350px;
		height: 350px;
		font-size: $font-size-decorative;
	}

	.message{
		margin: 35% auto;
	}	
}

.grp-days {
	margin-top: $margin*10;

	.circle {
		float: left;
		margin: 0 $margin;
		width: 100px;
		height: 100px;
		background-color: $brightteal;
		border: 1px solid $brightteal;
		text-align: center;
		font-family: $font-family-decorative;
		font-size: $font-size-decorative;
		position: relative;

		border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
			
		@media screen and (min-width: $break-size) {
			width: 100px;
			height: 100px;
			font-size: 24px;
		}

		.day {
			margin: 30% auto;
		}
	}
	a {
		text-decoration: none;
		color: $black;
	}
}

.main {
	//margin-top: $margin*3;
	clear: both;

	.grp-question{
		margin-top: $margin*3;
		width: 100%;
		
		@media screen and (min-width: $break-size) {
			width: 48%;
			float: left;
			position: fixed;
		}
		.circle{
			margin: 0 auto;
			width: 200px;
			height: 200px;
			background-color: $brightteal;
			border: 1px solid $brightteal;
			text-align: center;
			font-family: $font-family-decorative;
			font-size: $font-size-decorative;
			position: relative;

			border-radius: 50%;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			
			@media screen and (min-width: $break-size) {
				width: 300px;
				height: 300px;
				font-size: $font-break-size-decorative;
			}

			.day {
				margin: 30% auto;
			}
		}

		.question {
			h3 {
				width: 80%;
				margin: $margin*2 auto;
				font-family: $font-family;
				font-size: 1.2em;
				text-align: center;
			}	
		}

		.form-error{
			position: relative;
			width: 80%;
			margin: 0 auto;
			padding: $padding;
			background-color: $lightgray;

			-webkit-border-radius:5px;
			-moz-border-radius:5px;
			border-radius: 5px;

			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.glyphicon-remove {
			position: absolute;
			left: 95%;
			top: 7px;
		}

		.form {
			width: 80%;
			margin: 0 auto;
			margin-bottom: $margin*3;

			textarea {
				width: 100%;
				padding: $padding;
				margin: $margin 0;
				border: 1px solid $brightteal;
				font-family: $font-family;
				font-size: $font-size;

				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius: 5px;
			}

			.btn-add-answer {
				background-color: $brightteal;
				border: none;
				padding: $padding $padding*2;
				font-family: $font-family;
				font-size: $font-size;

				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius: 5px;
			}
		}
	}

	.ctn-answers-search {
		width: 100%;
		min-height: 100%;
		//background-color: #e5eaeb;

		@media screen and (min-width: $break-size) {
			width: 48%;
			margin-right: $margin*2;
			float: right;
		}

		.searchOption {
			width: 100%;
			margin: $margin auto;

			input {
				margin: $margin;
			}

			input[name="search"], select{
				padding: $padding;
				margin: $margin;
				border: 1px solid $brightteal;			
				font-family: $font-family;
				font-size: $font-size;

				-webkit-border-radius:5px;
				-moz-border-radius:5px;
				border-radius: 5px;
			}

			.searchType {
				padding-left: $padding*2;
			}
		}

		.ctn-answers {
			.group {
				width: 100%;
				margin: $margin auto;
				padding-bottom: $padding*4;
				border-top: 1px solid $lightteal;
				
				.date{
					margin: 0 $margin $margin $margin;
					padding: $padding;
					float: right;
					width: 90px;
					background-color: $lightteal;
					font-weight: bold;
					text-align: center;

					-webkit-border-bottom-left-radius:5px;
					 -moz-border-bottom-left-radius:5px;
					 border-bottom-left-radius: 5px;

					 -webkit-border-bottom-right-radius:5px;
					 -moz-border-bottom-right-radius:5px;
					 border-bottom-right-radius: 5px;


				}
				.answer {
					padding: $padding*2 $padding*2;
					line-height: 1.8em;
				}
				.clearfix{
					clear:both;
				}
			}
		}
	}
}

