<section>
	<form name="changeCred" id="changeCred" novalidate>
		First Name: <input name="firstname" value="{{ user.firstname }}">
		Last Name: <input name="lastname" value="{{ user.lastname }}">
		Old Email: <input name="email" type="email" value="{{ user.email }}">
		New Email: <input name="email" type="email">
		Old Password: <input name="password" type="password">
		New Password: <input name="password" type="password">
		<button ng-disabled="myform.$invalid" type="submit" ng-click="changeEmail(user_change)">Change Email</button>
		<button ng-disabled="myform.$invalid" type="submit" ng-click="changePassword(user_change)">Change Password</button>		
	</form>
</section>

